[Unit]
Description=User Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_URL=redis://redis.sailu-devops.online:6379
Environment=MONGO_URL=mongodb://mongodb.sailu-devops.online:27017/users
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target